<div class="page">
    <div>
        

            <div class="container">
                <div fxLayout="column" fxLayoutAlign="space-evenly center" style="padding-top: 30px;">

                    <ul class="Fundoo">
                        <li style="color: blue;">F</li>
                        <li style="color: red;">u</li>
                        <li style="color: rgb(241, 241, 19);">n</li>
                        <li style="color: blue;">d</li>
                        <li style="color: green;">o</li>
                        <li style="color: red;">o</li>
                    </ul>
                    <h2 style="padding-top: 15px;">Reset Password</h2>
                    <p style="padding-bottom:20px"> Enter your New Password</p>

                    <p fxLayout="column" fxLayoutAlign="start center" style="width: 30vw;">
                        <mat-form-field appearance="outline">
                            <mat-label>New Password</mat-label>
                            <input matInput placeholder="" formControlName="Password">    
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Confirm Password </mat-label>
                            <input matInput placeholder="" formControlName="confirmPassword"> 
                        </mat-form-field>
                        <button mat-flat-button color="primary" style="width: 6vw;">Next</button>
                    </p>
                </div>
            </div>   
        
    </div>
</div>
