<div class="part">
  <div class="headings">
    <h1>
      <div class="Fundoo">
        <span class="f">F</span>
        <span class="u">u</span>
        <span class="n">n</span>
        <span class="d">d</span>
        <span class="o1">o</span>
        <span class="o2">o</span>
      </div>
    </h1>
    <h3>Create your fundoo account</h3>
  </div>
    
  <div class="subPart">
    <div class="form-content">
          <!-- {form} -->
        <div class="full-name">
            <mat-form-field class="name" appearance="outline">
              <mat-label >First Name</mat-label>
              <input matInput placeholder="First Name">
            </mat-form-field>
            <mat-form-field class="name" appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="Last Name">
            </mat-form-field>
        </div>
        <div class="email-part">
          <mat-form-field class="email" appearance="outline">
            <mat-label>username</mat-label>
            <input matInput placeholder="usernmae">
            <span placeholder="gmail">@gmail.com</span>
    
          </mat-form-field>
        </div>
        <div class="message1">
          <a href="" placeholder="line1">You can use letters,numbers &periods</a>
        </div> 
          <div class="message2">
          <a href="" placeholder="line2">Use my current email address instead </a> 
        </div>
          <div class="password-part">
            <mat-form-field class="password" appearance="outline">
              <mat-label>password</mat-label>
              <input matInput placeholder="password">
            </mat-form-field>
            <mat-form-field class="password" appearance="outline">
              <mat-label>confirm</mat-label>
              <input matInput placeholder="confirm">
              
            </mat-form-field>
           </div>
           <a href="" placeholder="line3">Use 8 or more characters with a mix of letters, numbers & symbols</a> 
            <mat-checkbox class="example-margin">  Show password</mat-checkbox>
            <div class="btn">
              <a mat-button href="https://www.google.com/" target="_blank">sign in instead</a>
              <button mat-raised-button >Next</button>
            </div>
          <div class="register-image">
            <img src="../../../assets/account.svg" alt="" >
            <div class="image-message1">
            <a href="" placeholder="line1">One account.</a>
            </div>
            <div class="image-message2">
              <a href="" placeholder="line2"> All of Google working for you.</a> 
            </div>       
          </div>
          
        </div>
      </div>
