.takenote{
    border: 1px solid green; 
    width: 280px;
    margin-left: 50px;
    border-color: hsl(0, 48%, 94%);
    margin-top: 44px;
    border-radius: 14px;
    padding: 10px;
    
   

}
.icons{
    text-align: center;
}