<div class="page">
    <div>
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
        <div class="part">
            <div fxLayout="column" fxLayoutAlign="space-evenly center" style="padding-top: 30px;">

                <ul 
                class="Fundoo">
                    <li style="color: blue;">F</li>
                    <li style="color: red;">u</li>
                    <li style="color: rgb(241, 241, 19);">n</li>
                    <li style="color: blue;">d</li>
                    <li style="color: green;">o</li>
                    <li style="color: red;">o</li>
                </ul>
                <h2 style="padding-top: 15px;">Find Your email</h2>
                <p style="padding-bottom:20px"> Enter your phone number or recovery email</p>
                    <p fxLayout="column" fxLayoutAlign="start end">
                        <mat-form-field appearance="outline"  style="width: 25vw;">
                            <mat-label>Phone number or email</mat-label>
                            <input matInput placeholder="" formControlName="email">
                            <mat-error>enter email</mat-error>
                        </mat-form-field>  
                    </p>
                    <div class="btn">
                        <p mat-button routerLink="/reset" target="_blank">Forgot Password?</p>
                        <button mat-raised-button color="primary" style="width: 6vw;">Next</button>
                    </div>
                   
            </div>
        </div>
    </form>
    </div>
</div>
