<div ngClass.lt-md="page-lt-sm" ngClass.lt-xl="page-lt-xl" ngClass.lt-md="page-lt-md" fxLayout.lt-xl="column"
    fxLayoutAlign.lt-xl="center center" fxLayoutAlign.lt-md="center center">
    <div>
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
            <div class="header" fxLayout.lt-xl="column" fxLayoutAlign.lt-xl=" center">


                <h1>
                    <span class="f">F</span>
                    <span class="u">u</span>
                    <span class="n">n</span>
                    <span class="d">d</span>
                    <span class="o">o</span>
                    <span class="o1">o</span>
                </h1>
                <h2 style="padding-top: 15px;">Find Your email</h2>
                
                <p style="padding-bottom:20px"> Enter your phone number or recovery email</p>
            </div>
            <div class="Email-content">
                <mat-form-field class="email" appearance="outline">
                    <mat-label>Phone number or email</mat-label>
                    <input matInput placeholder="" formControlName="email">
                    <mat-error>enter registered email</mat-error>
                </mat-form-field>
            </div>
            <div ngClass.lt-sm="btn-container-lt-sm" ngClass.lt-xl="btn-container" fxFlexAlign.lt-xl="end">
                
                <button mat-raised-button color="primary" style="width: 6vw;">Next</button>
            </div>
        </form>
    </div>
</div>