<div class="part">
    <div class="headings">
      <h1>
        <div class="Fundoo">
          <span class="f">F</span>
          <span class="u">u</span>
          <span class="n">n</span>
          <span class="d">d</span>
          <span class="o1">o</span>
          <span class="o2">o</span>
        </div>
      </h1>
      <h2> Sign In</h2>
      <h3>Use your fundoo account</h3>
    </div>
    <div class="subPart">
        <div class="form-content">
            <div class="email-part">
                <mat-form-field class="email" appearance="outline">
                  <mat-label>username</mat-label>
                  <input matInput placeholder="usernmae">
                  
          
                </mat-form-field>
            </div>
            <div class="password-part">
                <mat-form-field class="password" appearance="outline">
                  <mat-label>password</mat-label>
                  <input matInput placeholder="password">
                </mat-form-field> 
                    
            </div>
            <p href="https://www.google.com/" target="_blank">Forgot Password?</p> 
            <div class="btn">
                <p mat-button href="https://www.google.com/" target="_blank">Create Account</p>
                <button mat-raised-button >Next</button>
            </div>
        </div>
    </div>
</div>        


            